
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row" style="display:inline">
    <br />
    <br />
    <br />
    <h2>Seller Registration</h2>
    <br />
    <br />
    <br />

    <form method="post" action="~/Seller/reg">
        <table class="table">

            <tr>
                <td>Frist name:</td>
                <td><input type="text" name="Frist_name" /> </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" name="Last_name" /> </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="Address" /> </td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td><input type="text" name="Phone_number" /> </td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><input type="text" name="Email_address" /> </td>
            </tr>
            <tr>
                <td> <input type="submit" /> </td>
            </tr>
            </table>
    </form>
    <h3>Seller update</h3>
    <form method="post" action="~/Seller/upd">
        <table class="table">
            <tr>
                <td> ID:</td>
                <td><input type="text" name="ID" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><input type="text" name="Email_address" /></td>
            </tr>
            <tr>
                <td><input type="submit" /></td>
            </tr>
            </table>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>