
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="row">
    <div class="side">
        <h2>Property buying advice</h2>
        <h5>Whether you are looking for your first home, an investment property, a family haven or your next renovation project, we can help make that journey easier for you.</h5>
        <div class="fakeimg" style="height:100px;">
            If you’re a battle-scarred first home buyer who’s been in a few auction rooms and come up against investors and developers, this article should give you a few ideas of how to compete. Or even better, how to avoid being up against these kinds of buyers in the first place.

            One of the first questions to ask when looking at a home which could be of interest is, will developers and investors also be looking at this? The advertising on the Trade Me listing should give you a steer on this but you can do your own research too.

            It’s a good idea to educate yourself on what kinds of properties will appeal to these buyer groups and which you might, therefore, want to avoid. For investors it’s all about the numbers, how many rooms they can rent in the house, how they can maximise the income coming from the property to give their investment a good yield.
        </div>
        </br>
        </br>


        <div class="responsive">
            <div class="img">

                <a target="_blank" href="~/Resources/Capture3.PNG">
                    <img loading="lazy" src="~/Resources/Capture3.PNG" alt="Maple Grove, Maungaraki, Lower Hutt City" width="400" height="300">

                    <div class="desc">Maple Grove, Maungaraki, Lower Hutt City</div>
            </div>
        </div>
        </br>
        <div class="wrapper">
            <div class="responsive">
                <div class="img">
                    <a target="_blank" href="~/Resources/Capture.PNG">
                        <img loading="lazy" src="~/Resources/Capture.PNG" alt="Stokes Valley, Lower Hutt City" width="400" height="300">
                    </a>
                    <div class="desc">Stokes Valley, Lower Hutt City</div>
                </div>
            </div>
            </br>
            <div class="responsive">
                <div class="img">
                    <a target="_blank" href="~/Resources/Capture4.PNG">
                        <img loading="lazy" src="~/Resources/Capture4.PNG" alt="Remuera, Auckland City" width="400" height="300">
                    </a>
                    <div class="desc">Remuera, Auckland City</div>
                </div>
            </div>
            </br>

            <div class="responsive">
                <div class="img">
                    <a target="_blank" href="~/Resources/Capture5.PNG">
                        <img loading="lazy" src="~/Resources/Capture5.PNG" alt="Favona Road, Manukau, Manukau City" width="400" height="300">
                    </a>
                    <div class="desc">Favona Road, Manukau, Manukau City</div>
                </div>
            </div>
        </div>
        </br>
        </br>

        <div class="main">
            <h2>Why Massey may be a good start to your property journey</h2>
            <h6>Massey, the large north west Auckland suburb is attracting buyers with its affordable house prices and amenities.</h6>
            <div class="fakeimg" style="height:150px;">
                When Universal Homes bought 42 hectares of green fields in the north western Auckland suburb of Massey in 2017, a site known as West Hills, there wasn’t too much going on, on the new housing front.

                Universal Homes CEO Andrew Crosby says he has plans for 1400 homes at the West Hills subdivision on Westgate Drive Extension, and, if the house building company puts in some four or five storey apartment buildings, this might go up to 1500 or 1600. So far, 94 homes have been sold and settled, another 76 are to come this year and another 150 next year.

                At West Hills, Universal Homes is adhering to a Green City Living masterplan with neighbourhood parks, reserves, walkways and cycleways. The homes are architecturally designed, with walk up apartments selling at $699,999 and terraced homes starting in the mid to high $700,000s – pretty affordable by Auckland standards.

                “In West Hills, we’re definitely more affordable than Hobsonville Point, where Universal has built 900 homes,” says Andrew. “Massey is closer to the CBD by road (17 km vs 23 km) and we’ve got a massive shopping centre across the road,” he adds.

                With new housing and more people moving into the area, Universal is looking to create a community at West Hills. “We’ve got a 5000 sq m park coming,” says Andrew.

                “We’ve bought into the Massey growth of population, and the development of new shopping. It was lower decile but it’s continuously improving as more are buying in the area,” says the Universal Homes CEO.

                Once a busway comes in, a bus-only lane going into the CBD and beyond, that will be a major piece of progress, adds Andrew.
            </div>


            <br>
            <h2>Why Hobsonville Point is attracting buyers at all levels</h2>
            <h5>The master-planned community of Hobsonville Point and its relaxed lifestyle is drawing a wide range of buyers.</h5>
            <div class="fakeimg" style="height:100px;">
                Prestige real estate agent, Michael Tromp, says his family was one of the first 50 to move to Hobsonville Point, the master-planned community on a pretty peninsula jutting out into the Waitemata Harbour, which came into being from 2011.

                Previously an air base, the 26 ha township in the Waitakere region, built by a select group of top builders, is 23 km from Auckland and a 30 –35 minute ferry ride from the CBD, and it’s becoming an increasingly popular place to live for Aucklanders.

                People moved into the first homes at Hobsonville Point from around 2012. Michael and his wife sold their first home last year, moving on to a larger three bedroom place and they’ve got a three bedroom rental too.

                Michael says the prices on the homes he’s owned have gone up about 13.5 % every year. They sold their first place last November (which they bought in 2011 for $220,000) for just under $1 million. They paid $660,000 for their next home which is now worth over double what they paid.

                “I’ve had three homes in the area, I’ve lived here since day one, I’ve seen it all grow and it’s a great sight,” says Michael.

                The township has 6,250 people living there in 2,333 homes and will have 11,000 residents by 2024 in 4,500 homes, the community’s website says.
            </div>

            <h3>about us</h3>
            <div class="fakeimg" style="height:30px;">Help users across New Zealand find suitable homes to buy or sell</div><br>
        </div>
    </div>
    </div>

