
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="row">
    <div class="side">
        <h2>about us</h2>
        <h5>My photo</h5>
        <div class="fakeimg" style="height:200px;">photo</div>
        <p>.......</p>
        <h3>1</h3>
        <p>2</p>
        <div class="fakeimg" style="height:60px;">2</div><br>
        <div class="fakeimg" style="height:60px;">2</div><br>
        <div class="fakeimg" style="height:60px;">2</div>
    </div>
    <div class="main">
        <h2>4</h2>
        <h5>5</h5>
        <div class="fakeimg" style="height:200px;">2</div>
        <p>6</p>
        <p></p>
        <br>
        <h2>1</h2>
        <h5>2</h5>
        <div class="fakeimg" style="height:200px;">3</div>
        <p>4</p>
        <p>！！！</p>
    </div>
</div>

