
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<head>
    <title>Login</title>
</head>

<body>
    <div id="login-div">
        @using (Html.BeginForm(FormMethod.Post))
            {
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline">App Name</td>

                    </tr>
                    <tr>
                        <td>
                            @*@Html.LabelFor(model => model.UserName)*@
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.UserName)*@
                        </td>
                    </tr>
                </table>
            }


    </div>

</body>



