
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<form method="post" action="~/Search/se">
    Locaiton:<input type="text" name="Location" /><br />
    Property Type:<input type="text" name="Property_Type" />
    <input type="submit" /><br />

</form>



