
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row" style="display:inline">
    <form method="post" action="~/Search/se">

        <tr>
            <td>Locaiton:</td>
            <td><input type="text" placeholder="search.." name="Location" /> </td>
        </tr>
        <tr>
        <tr>
            <td> Property Type:</td>
            <td><input type="text" placeholder="search.." name="Property_Type" /> </td>
        </tr>
        <tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
        <tr>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="loader"></div>
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
